.categories .subtitle-category {
    color: #121212;
    font-family: var(--titles-subtitles);
    font-size: 20px;
    font-weight: 700;
    padding: 35px 65px 8px;
}

.col-category {
    display: flex;
    flex-wrap: wrap;
}

.bags-category {
    width: 165px;
    /* height: 240px; */
    margin: 10px;
    position: relative;
}

.bags-img {
    width: 165px;
    height: 240px;
    object-fit: cover;
}

.description-category {
    font-size: 16px;
    font-family: var(--titles-subtitles);
    font-weight: 700;
    color: #121212;
    display: flex;
    justify-content: center;
}

.link-category {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 1rem;
    text-decoration: underline;
}

.link-container {
    display: flex;
    align-items: center;
}

.link-container svg {
    color: rgba(158, 77, 61, 1);
}

.link-container a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--titles-subtitles);
}

@media screen and (min-width: 736px) {
    .categories {
        width: 100%;
        padding-bottom: 1rem;
    }

    .categories .categories-wrapper {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }

    .categories .categories-wrapper .subtitle-category {
        padding: 5.375rem 0.5rem 4.25rem 0.5rem;
        font-size: 2.5rem;
    }

    .categories .categories-wrapper .col-category {
        display: grid;
        gap: 2.5rem;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fit, 275px);
    }

    .categories .categories-wrapper .col-category .bags-category {
        max-width: 275px;
        width: 100%;
        height: 480px;
        margin: 0;
        grid-column: 2fr;
        position: relative;
    }

    .categories .categories-wrapper .col-category .bags-category .bags-img {
        width: 100%;
        height: 100%;
    }

    .categories .categories-wrapper .col-category .bags-category .description-category {
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        width: 170px;
        height: 60px;
        background-color: #FFFFFF;
        display: flex;
        border-radius: 0.5rem;
        align-items: center;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
            background-color: rgba(158, 77, 61, 1);
            color: #ffffff;
        }
    }

    .link-category {
        display: flex;
        justify-content: flex-end;
        text-decoration: underline;
    }

    .link-container {
        display: flex;
        align-items: center;
    }

    .link-container svg {
        color: rgba(158, 77, 61, 1);
    }

    .link-container a {
        text-transform: uppercase;
        font-size: 12px;
        margin-left: 8px;
        font-weight: 700;
        font-family: var(--titles-subtitles);
    }
}