@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden-block {
  overflow: hidden;
}

.visible-block {
  overflow: visible;
}

body {
  background-color: #9E4D3D;
}